<div class="jui-casebar">
    <div class="jui-width-container">
        <app-case-details-bar [case]="case"></app-case-details-bar>
        <div class="jui-casebar__options">
            <nav class="jui-case-actions">
                <ul class="jui-case-actions__list">
                    <li class="jui-case-actions__item">
                        <a class="jui-case-actions__link" routerLink="/viewcase/{{this.caseId}}/make-desion/">Make decision</a>
                    </li>
                    <!--<li class="jui-case-actions__item">-->
                        <!--<a class="jui-case-actions__link" routerLink="/">List for hearing</a>-->
                    <!--</li>-->
                </ul>
            </nav>
        </div>
    </div>
</div>

<div class="jui-width-container">
    <main id="content" role="main" class="govuk-main-wrapper">
        <ng-container [ngSwitch]="sectionId" >
            <app-case-decision-container data-selector="make-desion-container" *ngSwitchCase="'make-desion'" [caseId]="caseId"></app-case-decision-container>
            <app-case-viewer-container data-selector="case-viewer-container" *ngSwitchDefault="" [caseId]="caseId" [case]="case" [sectionId]="sectionId"></app-case-viewer-container>
        </ng-container>
    </main>
</div>










