<app-govuk-back-link></app-govuk-back-link>
<main class="govuk-main-wrapper" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form [formGroup]="formDraft" (ngSubmit)="onSubmit()">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                            <h1 class="govuk-fieldset__heading">Do you want to approve the draft consent order?</h1>
                        </legend>
                        <div class="govuk-radios govuk-radios--inline">
                            <div class="govuk-radios__item" *ngFor="let item of items; let i = index;">
                                <input class="govuk-radios__input" id="{{idPrefix + '-' + (i+1) }}" name="{{name}}" type="radio" value="{{item.value}}" formControlName="radioButtons">
                                <label class="govuk-label govuk-radios__label" for="{{idPrefix + '-' + (i+1) }}">
                                    {{item.text}}
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <button class="govuk-button" type="submit">Continue</button>
            </form>
        </div>
    </div>
</main>

