<div data-selector="summary-panel-component" class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <ng-container *ngFor="let section of panelData.sections">
            <div  class="govuk-grid-row">
                <div class="govuk-grid-column">
                    <ng-container [ngSwitch]="section.type" >
                        <app-data-list
                            data-selector="data-list"
                            *ngSwitchCase="'data-list'"
                            [title]="section.name"
                            [dataList]="section.fields">
                        </app-data-list>
                        <!--<app-timeline-section-->
                        <!--data-selector="timeline-section"-->
                        <!--*ngSwitchCase="'timeline'"-->
                        <!--[title]="section.name"-->
                        <!--[caseId]="caseId"-->
                        <!--[events]="section.fields[0].value"-->
                        <!--&gt;</app-timeline-section>-->
                    </ng-container>                </div>
            </div>
        </ng-container>
    </div>
    <div class="govuk-grid-column-one-third">
        <app-timeline-section
            data-selector="timeline-section"
            [title]="panelData.sections[2].name"
            [caseId]="caseId"
            [events]="panelData.sections[2].fields[0].value"
        ></app-timeline-section>
    </div>
</div>
