<app-govuk-back-link></app-govuk-back-link>
<main class="govuk-main-wrapper" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">What should appear in the directions order?</h1>
            <form [formGroup]="rejectReasonsForm" (ngSubmit)="onSubmit()">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            {{ fieldset.legend.text}}
                        </legend>

                        <span id="reject-hint" class="govuk-hint">{{hint.text}}</span>

                        <div class="govuk-checkboxes">

                            <ng-container  *ngFor="let item of checkboxes; let i = index">

                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="{{idPrefix + '-' + (i+1)}}" name="{{idPrefix + '-' + (i+1)}}" type="checkbox" formControlName="{{item.value}}">
                                    <label class="govuk-label govuk-checkboxes__label" for="{{idPrefix + '-' + (i+1)}}">
                                        {{item.text}}
                                    </label>
                                </div>

                                <div  class="govuk-checkboxes__conditional"  *ngIf="item.sub">
                                    <div  class="govuk-form-group" *ngIf="item.sub">
                                        <fieldset class="govuk-fieldset">

                                            <legend  *ngIf="item.sub.legend"  class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                                {{ item.sub.legend }}
                                            </legend>

                                            <ng-container *ngIf="item.sub.textarea">
                                                <textarea class="govuk-textarea " rows="5">{{item.sub.textarea}}</textarea>
                                            </ng-container>

                                            <ng-container *ngIf="item.sub.checkboxes">
                                                <app-checkbox [items]="item.sub.checkboxes">

                                                    <ng-container  *ngFor="let subitem of item.sub.checkboxes; let j = index">
                                                        <div  class="govuk-checkboxes__conditional" id="conditional-reject-3" *ngIf="subitem.sub">
                                                            <div  class="govuk-form-group" ng-switch="Object.keys(subitem.sub)">
                                                                <fieldset class="govuk-fieldset">
                                                                    <div ng-switch-when="legend">
                                                                        <label class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                                                            {{subitem.sub.legend}}
                                                                        </label>
                                                                        <div ng-switch-when="textarea">
                                                                            <textarea class="govuk-textarea" rows="5">{{subitem.sub.textarea}}</textarea>
                                                                        </div>
                                                                        <app-checkbox [items]="subitem.sub.checkboxes"></app-checkbox>
                                                                    </div>
                                                                </fieldset>
                                                            </div>
                                                        </div>
                                                    </ng-container>

                                                </app-checkbox>
                                            </ng-container>

                                        </fieldset>
                                    </div>
                                </div>

                            </ng-container>
                        </div>

                    </fieldset>
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--m" for="directions">
                        Directions
                    </label>
                    <textarea class="govuk-textarea" id="directions" name="directions" rows="5"></textarea>
                </div>

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="copyconsentorder-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            Do you want to include an annotated version of the draft consent order?
                        </legend>

                        <span id="copyconsentorder-hint" class="govuk-hint">
                            You can use this to illustrate any detailed points or feedback for the parties.
                          </span>

                        <div class="govuk-radios govuk-radios--inline">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="copyconsentorder-1" name="copyconsentorder" type="radio" value="Yes">
                                <label class="govuk-label govuk-radios__label" for="copyconsentorder-1">
                                    Yes<span class="govuk-visually-hidden">, send an annotated version of the draft consent order to the parties</span>
                                </label>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="copyconsentorder-2" name="copyconsentorder" type="radio" value="No">
                                <label class="govuk-label govuk-radios__label" for="copyconsentorder-2">
                                    No<span class="govuk-visually-hidden">, I don’t want to send an annotated version of the draft consent order to the parties</span>
                                </label>
                            </div>
                        </div>

                    </fieldset>
                </div>
                <button class="govuk-button" type="submit">Continue</button>
            </form>
        </div>
    </div>
</main>
