<app-govuk-back-link></app-govuk-back-link>
<main class="govuk-main-wrapper" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" attr.aria-describedby="{{idPrefix + '-hint'}}">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                            <h1 class="govuk-fieldset__heading">{{ fieldset.legend.text}}</h1>
                        </legend>
                        <span id="{{idPrefix + '-hint'}}" class="govuk-hint">{{hint.text}}</span>
                        <div class="govuk-checkboxes">
                            <div class="govuk-checkboxes__item" *ngFor="let item of checkboxes; let i = index">
                                <input class="govuk-checkboxes__input" id="{{idPrefix + '-' + (i+1)}}" name="{{name}}" type="checkbox" value="{{item.value}}">
                                <label class="govuk-label govuk-checkboxes__label" for="{{idPrefix + '-' + (i+1)}}">
                                    {{item.text}}
                                </label>
                                <div *ngIf="item.sub">
                                    <div  ng-switch="Object.keys(item.sub)">
                                        <div ng-switch-when="legend">
                                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                                                <h1 class="govuk-fieldset__heading">{{ item.sub.legend }}</h1>
                                            </legend>
                                        </div>
                                        <div ng-switch-when="checkboxes">
                                            <app-checkbox [items]="item.sub.checkboxes"></app-checkbox>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </form>
        </div>
    </div>
</main>
