<div class="jui-width-container">
    <a class="govuk-back-link" routerLink="/viewcase/{{this.caseId}}">Back</a>
    <main class="govuk-main-wrapper" role="main">
        <h1 class="govuk-heading-l">Make decision</h1>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--m" for="decision-notes">Decision notes</label>
                        <textarea class="govuk-textarea govuk-input--width-30x" id="decision-notes" name="decision-notes" rows="5"></textarea>
                    </div>
                    <button type="submit" class="govuk-button">Continue</button>
                </form>
            </div>
        </div>
    </main>
</div>
